* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* font-family: Arial, sans-serif; */
    background-color: #f3f3f3;
    color: #333;
  }
  
  .heading {
    background-color: #7395f3;
    color: #fff;
    padding: 12px;
    text-align: center;
    width: 100%;
    /* z-index: 999; */
    /* position: fixed; */
    margin-bottom: -75px;
    top: 0;
    left: 0;
    display: flex;
  
  }
  
  .heading img {
    width: 120px;
    height: 70px;
    margin-top: -5px;
    margin-bottom: 0;
  }
  
  .heading-content {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: auto;
  
  }
  
  
  
  @media only screen and (max-width: 768px) {
    .heading {
        background-color: #7395f3;
        color: #fff;
        padding: 10px;
        text-align: center;
        width: 100%;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
    }
  
    .heading img {
        width: 100px;
        height: 60px;
        margin-top: 0px;
        margin-bottom: 0;
    }
  
    .heading-content {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: auto;
  
    }
  }
  
  /* About Styling  */
  
  
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    background-color: rgb(204, 221, 216);
    margin-top: 5rem;
  }
  
  .about-image {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0 10px rgb(57, 59, 58);
  }
  
  .about-image img {
    width: 100%;
    height: 300px;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  
  .about-image:hover img {
    transform: scale(1.1);
  }
  
  .about-content {
    flex: 1;
    max-width: 600px;
  
  }
  
  .about-heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  
  }
  
  
  
  .about-content p {
    font-size: 20px;
    line-height: 1.6;
  }
  
  @media only screen and (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
  
    }
  
    .about-image {
        margin-right: 0;
        margin-bottom: 20px;
  
    }
  }
  
  
  /* SOftware Section Styling */
  
  .softwares {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f0f0f0;
  
  }
  
  .description-heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .description {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .cards {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(200, 30, 30, 0.1);
    overflow: hidden;
  }
  
  .cards:hover {
    transform: scale(1.05);
  }
  
  .cards img {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .cards-heading {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    color: #333333;
  
  }
  
  .login-credentials {
    font-size: 16px;
    margin: 0 0px 20px;
    color: #4f4d4d;
    padding-left: 10px;
  }
  
  .description .cards button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
  }
  
  .description .cards button:hover {
    background-color: #0056b3;
  
  }
  
  @media only screen and (max-width: 768px) {
    .description {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  
  
    .login-credentials {
        font-size: 16px;
        margin: 0 0px 20px;
        color: #4f4d4d;
        padding-left: 10px;
    }
  
    .cards img {
        width: 100%;
        height: 200px;
    }
  }
  
  
  /* Footer Styling */
  
  
  .footer {
    background-color: #504f4f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  
  }
  
  
  .copyright {
    margin-top: 10px;
    font-size: 20px;
  }